body {
  color: #fff;
  font-family: "Maven Pro", "Segoe UI", Helvetica, Arial, sans-serif;
  text-align: center; }

#about, #inspire {
  min-height: 60vh; }

#header {
  background: url("../assets/DSCN7583_large_2x.jpg") no-repeat;
  background-size: cover;
  background-position: center center; }

#portfolio {
  background-color: #050505; }

#inspire {
  background: url("../assets/contact_large_2x.jpg") no-repeat;
  background-size: cover;
  background-position: center center; }

#contact {
  background: url("../assets/download_large_2x.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 30vh; }

#about {
  font-family: "Baloo", "Segoe UI", Helvetica, Arial, sans-serif; }

#about-body {
  background-color: rgba(0, 5, 5, 0.65);
  letter-spacing: 2px;
  border-radius: 10px; }

.contrast {
  color: #000; }

.firm {
  color: #f4b408; }

#quote {
  font-family: Merienda;
  background-color: #f4b408; }

hr.star-bright, hr.star-dark {
  width: 60vmax;
  border-top: solid 5px;
  text-align: center; }

hr.star-bright {
  border-color: #fff; }

hr.star-dark {
  border-color: #000; }

.navbar {
  background: rgba(0, 0, 0, 0.65) !important;
  width: 100vmax; }

@media (max-width: 34em) {
  .navbar {
    width: 40vw;
    left: 55vw; } }

.navbar .nav-link {
  font-weight: bold;
  text-transform: lowercase; }

.feature {
  color: black;
  font-size: 0.8rem; }

.footer a {
  padding: 0.75rem; }

img {
  transition-property: all;
  transition-duration: 1.5s; }

img:hover {
  transform: scale(1.05);
  cursor: pointer; }

.card {
  transition-property: all;
  transition-duration: 1s;
  background-image: linear-gradient(135deg, #ca2d00, black);
  margin: 10px;
  border: outset thin;
  border-radius: 10px;
  z-index: 999;
  box-shadow: 0 0 20px 2px rgba(255, 205, 205, 0.65); }
  @media screen and (max-width: 34em) {
    .card {
      margin-top: 10px; } }

.card:hover {
  transform: scale(1.05); }

.card-img-top {
  height: 300px;
  max-height: 50%;
  max-width: 95%;
  border-radius: 10px;
  margin: 0 auto; }

.modal-content {
  font-family: Merienda;
  background-image: linear-gradient(135deg, #ca2d00, black);
  margin: 10px;
  border: outset thin;
  border-radius: 10px;
  box-shadow: 0 0 200px 2px rgba(255, 205, 205, 0.65); }

.modal img {
  height: 30vmax;
  width: 30vmax;
  border-radius: 10px; }

#header img {
  height: 10vmax;
  width: 10vmax; }
  @media screen and (max-width: 34em) {
    #header img {
      height: 18vmax;
      width: 18vmax; } }

.navbar a {
  transition-property: all;
  transition-duration: 0.5s; }

.navbar a:hover {
  transform: scale(1.3); }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.social .fa {
  transition-property: all;
  transition-duration: 0.2s; }

.social .fa:hover {
  transform: scale(1.5); }
